//===========================================// COLOR VARIABLES
//===========================================

$color-primary: rgba(63, 169, 245, 1);
$color-secondary: #fff;
$color-accent: #eeea72;
$color-shade: #eee;
$color-text: #343434;
$color-bg: #0e1a25;
$color-bg-light: rgb(179, 179, 179);
$background: hsl(210, 45, 10);



//===========================================// TYPOGRAPHY VARIABLES
//===========================================

$font-stack-primary: 'Oswald', sans-serif;
$font-stack-secondary:'Lato', serif;


$max-width:1000px;

//===========================================// BREAKPOINTS VARIABLES
//===========================================
$breaks-xs: 575px;
$breaks-s: 576px;
$breaks-m: 768px;
$breaks-l: 992px;