
body{
	width: 100%;
	height:100%;
	list-style:none;
	font-family:Helvetica;
	background-color:#00BDC6;
}

.typed{
	color:white;
	position:relative;
	//top:-52%;
	//margin-top:-12%;
}

section{
	
	height: 100vh;
	//width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align:center;
	
}

section:nth-child(2){
	background-color:#eee;//#00BDC6;
	position:relative;
	height:100vh;
	//transform: skewX(15deg);
	span, p{
		color:black;
		position:relative;
		top:50px;
		
	}
	z-index:9;
}


#presentation{
	position:relative;
	top:-1000px;
}

#projects-section{
	//margin-top:25px;

}

section:nth-child(5){
	height: 100vh;
	ul{
		padding-top:60px;
	}
	background-color:#fff;//#b38f00;
	color:black;//white;
	font-size:2em;
	line-height:1.6em;
	text-align:center;
	margin-top:-15px;
}


footer:nth-child(6){
	height: 90vh;
	width:100%;
	background-color:#110901//$color-bg;
}



.sectOne{
	//transform: skew(15deg, 5deg);
    background-image:linear-gradient(black, black);//(#00BDC6, #00BDC6);//(#E2E2E2, #E2E2E2);//($color-bg, $color-bg);//(#000,#000);
    height:100vh;
    margin-top:40px;

	&::after{
		content:'';
		position: absolute;
		top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: url("../img/5.jpg");
    	opacity:0.7;
    	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align:center;
	}
	
}
.sectOne h1{
	//filter: drop-shadow(100px);
	//filter: drop-shadow(18px 18px 110px white);
}

.sectTwo{
	
	background-image: url("../img/6.jpg");
	padding:75px;
}

.sectThree{
	background-image: url("../img/2.jpg")
}

//#skills-section {
   // width: 100%;
    //background-color: #CCC;
    //overflow: auto;
    //height: 110%;
    //white-space:nowrap;
    //position: relative;

//}

#skills-section ul h3{
	color: #9C6500;//complement(#00BDC6);//#FF3737;//#bfbfbf;
	font-size:2em;
	transform: translate(290px, 390px);//(250px
	text-shadow: -70px 26px 6px rgba(150, 150, 150, 1);
	//margin:15px;
	display:inline-block;
}

#skills-section ul li{
	color:#fff;//#000;//#1A6A68;//$color-text;
	text-shadow: 1px 0px 2px rgba(0,0,0, 1);
	font-size: 1.8em;
	line-height:2em;
}

#skills-section::-webkit-scrollbar {display:none;}

ul li{
	list-style: none;

}





.contents{
	transform: scale(0.9);
	transition:0.5s;
}

.contents{
-webkit-box-shadow: 2px 4px 70px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 70px 3px rgba(0,0,0,0.75);
box-shadow: 2px 4px 70px 3px rgba(0,0,0,0.75);
transform: scale(1);

}

.activated{
	//width:1000px;
}

//.content:not(:hover){
//	transform: scale(0.5);
//}

#about-section p, #about-section h2{
	color:white;
	text-align:center;
	

}

#about-section p{
	line-height: 2em;
	font-size: 1.5em;
	margin-top:55px;
}
#about-section h2{
	line-height:20vh;
	font-size:2.5em;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	position:relative;
	//left:-12%;
}

.contents:hover{
	
	-webkit-box-shadow: 0px 0px 75px 10px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 75px 10px rgba(255,255,255,1);
box-shadow: 0px 0px 75px 10px rgba(255,255,255,1);
}




dl dd{
    margin: 30px 25px;
    border-bottom:solid 1px white;
    line-height:2em;


}

.focused{
	//background-color:#00BDC6;//#f6f6f6;//white;//rgb(204, 204, 204);//grey;
	color:#fff;//#00BDC6;

}



//li.focused:nth-child(2){
//	background-color:black;//#0069CC;

//	}

//.focused:nth-child(5){
//	background-color:#ccc;//rgb(204, 204, 204);//#b38f00;
//}

//.focused{
//transition:3s;
//}








.tab-panels ul {
    margin:0;
    padding: 25px 15px 5px 15px;
    text-align:center;
}
.tab-panels ul li {
    list-style-type: none;
    display: inline-block;
    background: #999;
    margin: 15px 0 0 0;
    padding: 15px 100px;
    border-radius: 10px 0px 10px 0px;
    color: #fff;
    font-weight: 800;
    letter-spacing:9px;
    text-transform:uppercase;
    cursor: pointer;
    margin-right:10px;
    text-align:center;

}
.tab-panels ul li:hover {
    color: #fff;
    background: black;//#666;
}

.tab-panels ul li.active {
    color: #fff;
    background: #666;
}

.tab-panels .panel {
    display:none;
    background: inherit;//#c9c9c9;
    padding: 50px;
    border-radius: 0 0 10px 10px;
    border:3px white solid;
}

.tab-panels .panel.active {
    display:inline-block;
}

.tab-panels .panel{
	font-size:1.2em;
}

#education-section ul{
	margin-top:15px;
}

.first{
					background-color:#C5ECEB;
					background-color:#110901;

					z-index:5;
					height: 100vh;
					width:80%;
					right:16%;
					transform:scale(1);
					//'text-align':'center';
					//margin:20px auto;
					//margin-right:100px;
					}

					.second{
						background-color:#E2E2E2;
						background-color:#eee;//#110901;
						opacity:0.8;
						
						z-index:4;
						//margin-left:-570px;
						margin-top:20px;
						right:4%;
						height:98%;
						width:80%;
						transform:scale(0.8);
						}

						.third{
										background-color:#E2E2E2;
										background-color:#eee;//#110901;
										opacity:0.8;
										z-index:4;
										transform:scale(0.5);
										margin-top:20px;
										left:-35%;
										//transform:translate(50px);
										//margin-left:850px;
										width:80%;
										height: 98%}

						.fourth{z-index:3;
										background-color:#E2E2E2;
										background-color:#eee;//#110901;
										opacity:0.8;
										transform:scale(0.7);
										//transform:translate(50px);
										margin-top:20px;
										right:-5%;
										//margin-left:-480px;
										width:80%;
										height: 98%}

						.fifth{z-index:2;
										background-color:#E2E2E2;
										background-color:#eee;//#110901;
										opacity:0.8;
										transform:scale(0.6);
										//margin-left:-390px;
										margin-top:20px;
										width:80%;
										right:-12%;
										height:98%}

						.sixth{z-index:1;
										background-color:#E2E2E2;
										background-color:#eee;//#110901;
										opacity:0.8;
										transform:scale(0.5);
										width:80%;
										//margin-left:-220px;
										margin-top:20px;
										//margin-right:-60%;
										right:-20%;
										height:98%}

										.contents{
											width:80%;
											//margin-left:-10%;
											//padding-left:18px;
											display:inline-block;
											height:80%;
											vertical-align:top;
											//margin-right:-20%;
											position:absolute;
											//transform: skewX(-90deg);
										}

							#skills-section{
								margin:0;
								padding:0;
								text-align:unset;
								padding:100px;
								//margin-left:-120px;
							}

/*tablets*/

@media screen and (max-width:768px){
	
	.me{
		display:block;
		position:unset;
		margin:0 auto;
		width:200px;
		height:200px;
		background-position:top center;
	}
	
	#about-section h2{
		position:unset;
		display:block;
		font-size:1.3em;
	}
	section:nth-child(2){
		height:100vh;
	}
	#typed{
		font-size:1.3em;
	}

	#skills-section ul li{
		font-size: 16px;
	}
	#skills-section ul h3{
		font-size:1.2em;
		transform: translate(90px, 390px);
	}

	.contents{
		width:80%;
		//margin-left:-10%;
		//padding-left:18px;
		//transform:scale(1);
		display:inline-block;
		vertical-align:top;
		height:80%;
	}


}
