*, :after, :before{
    box-sizing: border-box;
}



body{
    line-height: 1.5em;
    color: #bfbfbf;
    font-size: 1.25em;

    
    h2{
    color:white;
    }

    h3{
    text-transform:uppercase;
    margin:0 85px;
    border-bottom:solid 1px white;
    }
    
}

dl dd{
    margin: 30px 25px;
    border-bottom:solid 1px white;


}

.container{
    background-color: $color-bg;
    text-align:center;
    padding-top:25px;

}


main a{
    text-decoration:none;
    color:white;
}

main ul{
    list-style:none;
    text-align: left;
}




//===========================================// MEDIA QUERIES
//===========================================

@media (min-width:$breaks-m){
    
    .wrap{
        min-height: calc(100vh - 26px);
        
    }
    
    body{
    line-height: 2em;

    }




    .container{
        
        max-width: 1060px;
        width: 90%;
        margin: auto;
        
    }
    
    
}