body{
	//position: absolute;
	text-align: center;
	width:100%;
	//height:100vh;
}
header{
	height:100%;//95vh;
	//position: aboslute;
	//top:0;
	//left:0;
	margin-top:-60px;
}



a{
	background-color:transparent;
	cursor:pointer;
}

nav{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	box-sizing:border-box;


	ul{
		background-color:#110901;//#E2E2E2;//white;//transparent;
		position:fixed;
		width:100%;
		z-index:99;
		//padding:40px;
	}
	ul li{
		display:inline-block;
		padding:20px 0;
		//margin-right: 15px;
		//border-right:3px red solid;
		//line-height: 5px;
		position:relative;
		width:10%;

	}

	ul li:not(.home):after{
		content:"";
		height: 50%; //You can change this if you want smaller/bigger borders
  		width: 0.5px;

  		position: absolute;
  		right: 2px;
  		margin-right:-15px;
  		top: 20px; // If you want to set a smaller height and center it, change this value

  		background-color: #576366; // The color of your border

	}

	ul li a{
		color:#576366;
		text-decoration:none;
		font-weight: 600;
		font-size:14px;
		padding:20px 45px;
		//margin-right:15px;
		width:10%;

		&:hover{
			color:#fff;//#2691d9;//#00BDC6;
		}

	}
	.home{
		
		margin-right:10%;//20%;
		margin-left:1%;
		background-color:transparent;
		
	}
	
}


/*tablets*/

@media screen and (max-width:768px){
	header nav{
	float:none;
		.home{
			margin:0;
			padding:0;
			margin-left:-10px;
		}

		ul{
			padding-bottom:20px;
		}
	}

	header nav ul li{
	margin:0;
	padding:0;
	width:16%;
	text-align:center;
			a{
				margin:0;
				padding:0;
			}
	}

	#logo{
		position:unset;
		display:block;
		margin:0 auto 10px;
	}

}

/*mobiles*/
@media screen and (max-width:480px){
	
}



