



.main-header {
    padding-top: 1em;

    //background-image: url("9.jpg");
    
    background-image:
    linear-gradient(0deg, black, transparent),
     url("9.jpg");
    
    
  ///////////// background-image: radial-gradient(circle at bottom, black,transparent, $color-bg, $color-shade),
    ///////////   linear-gradient(0deg, $color-bg, transparent),
      //////////// url("10.jpg");
    ///////////////background-color: $color-primary;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
    
    //   background-image: radial-gradient(circle at top, $color-primary, $color-bg, $color-shade);
    
   // box-shadow: inset 15px 15px 20px rgba(0,0,0, .8);
    
    
//    border-bottom-left-radius:50px ;
//    border-bottom-rigt-radius: 50px;
//    border-top-left-radius: 50px;
    //border-radius: 5%;
    
}

body{
    background-color: black;//$color-bg;
  
    
}

//#background{
//   // z-index: 100000;
//    width: 1200px;
//    height: 100%;
//    top: -80px;
//    background-color: red;
//    background-size: 120px 120px;
//    background-repeat: no-repeat;
//}