#arrow{
	width:35px;
	height:35px;
	//color:red;
}


.circle{
	position: absolute;
	top:80%;
	left:50%;
	transform: translate(-50%, -50%);
	border:2px solid #fff;
	border-radius:50%;
	width:100px;
	height:100px;
	text-align:center;
	line-height:100px;
	font-size: 80px;
	overflow:hidden;
	margin-top:55px;
	

}

.circle .fa{
	color:#E2E2E2;//#fff;
	margin:0;
	padding:0;
	animation: animate 1s linear infinite;
}

@keyframes animate{
	0%{
		transform:translateY(-50px);
		text-shadow:0 50px 0 #fff;
	}
	20%{
		transform:translateY(0px);
		//text-shadow:0 10px 0 #fff;
	}
	40%{
		transform:translateY(0px);
		//text-shadow:0 -10px 0 #fff;
	}
	60%{
		transform:translateY(0px);
	//	text-shadow:0 0px 0 #fff;
	}
	100%{
		transform:translateY(100px);
	//	text-shadow:0 -50px 0 #fff;
	}



}

.circle:before{
	content:"SCROLL DOWN";
	position: absolute;
	color:#fff;
	font-family: arial;
	font-size:10px;
	left:12px;
	top:-22px;
}

#logo{
	width:100px;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	background-color:#00BDC6;

}



.soc{
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 48px; // IE8
  padding: 4.8rem;
  text-align: center;
  }

  .soc li{
  		display: inline-block;
    	margin: 12px; // IE8
    	margin: 1.2rem;
  }

  .soc a, .soc svg{
    display: block;
    }

   .soc a{
    position: relative; // IE8
    height: 96px; // IE8
    height: 9.6rem;
    width: 96px; // IE8
    width: 9.6rem;
    }

   .soc svg{
    	height: 100%;
    	width: 100%;
    }


    // IE8:
  //em{
   // font-size: 14px;
   // line-height: 1.5;
   // margin-top: -.75em;
   // position: absolute;
   // text-align: center;
   // top: 50%;
   // right: 0;
   // bottom: 0;
   // left: 0;
//}

// Using placeholder selectors and @extend (keeps output CSS lean) instead of [class*='icon-'] attribute selector because IE8 doesn't support it :<

%social-icon-hover{
  border-radius: 100%;
  color: $background; // IE8
  fill: $background;
  transform: scale(1.25);
  transition: background-color .5s, transform .5s ease-out;
  }


 // Neat color trick, <3 Sass
@for $i from 1 through 30{
  .icon-#{$i}{
    color: hsl($i * 12, 70, 50); // IE8
    fill: hsl($i * 12, 70, 50);
    &:hover{
      background: hsl($i * 12, 70, 50);
      @extend %social-icon-hover;
      }

}
}