



.me{
	background-image: url("../img/me1.jpg");
	width: 250px;
	height:250px;
	background-repeat: no-repeat;
	text-align:center;
	display:block;
	color:white;
	border-radius:50%;
	list-style: none;
	//margin-top: 50px;
	//float:left;
	position: absolute;
	top:800px;
	left:5px;

}




#about-section .me1{
	//margin-top: 25px;
	

}

#about-section .me2{
	//color:white;
	//background-color:grey;
	//width: 250px;
	//height: 276px;
	//border-radius:50%;
	background-image: url("../img/me2.jpg");
	//background-repeat: no-repeat;
	//background-attachment: fixed;
	//background-size: cover;
	//float:left;
	//margin-top:55px;
}
