



.me{
//<<<<<<< HEAD
	background-image: url("../img/logo.svg");
	width: 750px;
	height:750px;
//=======
	//background-image: url("../img/me3.JPG");
//	width: 250px;
//	height:250px;
//>>>>>>> e8c989cd036f43980146c15c423c6a5231b2fc60
	background-repeat: no-repeat;
	background-position:top center;
	color:white;
	border-radius:50%;
	list-style: none;
	
	position: absolute;
	
	left:20%;//5px;
	
	top:5%;
	z-index:-1;

}




#about-section .me1{
	//margin-top: 25px;
	

}

#about-section .me2{
	//color:white;
	//background-color:grey;
	//width: 250px;
	//height: 276px;
	//border-radius:50%;
	background-image: url("../img/me2.JPG");
	//background-repeat: no-repeat;
	//background-attachment: fixed;
	//background-size: cover;
	//float:left;
	//margin-top:55px;
}
