



.me{
	background-image: url("../img/me3.jpg");
	width: 250px;
	height:250px;
	background-repeat: no-repeat;
	background-position:top center;
	color:white;
	border-radius:50%;
	list-style: none;
	
	position: absolute;
	
	left:1%;//5px;
	
	top:20%

}




#about-section .me1{
	//margin-top: 25px;
	

}

#about-section .me2{
	//color:white;
	//background-color:grey;
	//width: 250px;
	//height: 276px;
	//border-radius:50%;
	background-image: url("../img/me2.jpg");
	//background-repeat: no-repeat;
	//background-attachment: fixed;
	//background-size: cover;
	//float:left;
	//margin-top:55px;
}
