

h1{
	font-family: $font-stack-primary;
	margin:0 auto;
	margin-top:60px;
	width:95%;
	padding:0 15px;
	position:relative;
	z-index:10;
	font-size: 40px;
	display: block;
    font-weight: 500;
    line-height: 1.4;
    top:40%;
    font-size:5.625rem;
    color:rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3em;
    letter-spacing:10px;
    
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15); //-5px -8px 10px $color-bg-light;
    
}

#typed{
	color:white;
	font-size:25px;
	line-height:2em;
	font-family: monospace;
	//margin-left:18px;
}

.typed-cursor {
	
	color:white;
	height:10px;
	opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;

}

@keyframes blink{
0%{
	opacity:1;
}

50%{
	opacity:0;
}

100%{
	opacity:1;
}

}



#welcome{
	position:relative;
	z-index:2;
	color:#fff;
	top:52%;
	font-size: 26px;
}


p{
    font-family: Helvetica, $font-stack-secondary;
}

.main-nav li{

		font-family: $font-stack-primary;
}